.wrap_dota2{
    min-width:1260px;
    max-width:1920px;
    margin:124px auto 0;
    overflow:hidden;
}
/************************1.顶部导航栏*/
.wrap_dota2-top-col{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background-color:#1f1f20;
    min-width:1260px;
}
/********1.1 顶部log部分*/
.wrap_dota2-top{
    width:100%;
    height:90px;
    position:relative;
    border-bottom:1px solid #333;
}
/*  dota2 logo*/
.wrap_dota2-logo-dota2{
    position:absolute;
    left:50%;
    top:50%;
    width:226px;
    height:32px;
    margin-top: -16px;
    margin-left:-630px;
}
/* 神秘商店 logo*/
.wrap_dota2-logo-shop{
    position:absolute;
    left:50%;
    top:50%;
    width:132px;
    height:64px;
    margin-left:-380px;
    margin-top:-32px;
}
/* 右侧a标签:span(2个a标签，按钮)和3个a标签*/
.wrap_dota2-user-info{
    position: absolute;
    top:50%;
    right:50%;
    height:30px;
    line-height:30px;
    margin-top:-15px;
    margin-right:-630px;
}
/* span中的的a标签按钮设置统一的样式*/
.wrap_dota2-user-info a{
    float:left;             /*统一变为块级元素*/
    color:#999;
    font-size:14px;
    margin:0 16px;
    height:100%;
}
/*user-reg:背景颜色和字体颜色*/
.wrap_dota2-user-info a.user-reg{
    background-color:#333435;
    color:#999;
}
/*user-reg:鼠标悬停时的样式:橘红色背景、白色字体*/
/*两个按钮由user-reg统一设置*/
.wrap_dota2-user-info a.user-reg:hover{
    background-color:#f85535;
    color:#fff;
}
.wrap_dota2-user-info a.user-info-btn{
    margin:0 5px;
    width:78px;
    border-radius:5px;
    font-size:14px;
    text-align:center;
}
/*span 后的a标签样式*/
.wrap_dota2-user-info .myorder{
    background:url("../img/index/header/icon-people2.png") 0 50% no-repeat;
    padding-left:25px;
}
.wrap_dota2-user-info .myfavorite{
    background:url("../img/index/header/icon-heart.png") 0 50% no-repeat;
    padding-left:25px;
}
.wrap_dota2-user-info .mycart{
    background:url("../img/index/header/icon-cart.png") 0 50% no-repeat;
    padding-left:28px;
}
/*span 后的a标签鼠标悬停时的样式：更换背景图，字体颜色*/
.wrap_dota2-user-info .myorder:hover{
    background:url("../img/index/header/icon-people2-hov.png") 0 50% no-repeat;
    color:#f85535;
}
.wrap_dota2-user-info .myfavorite:hover{
    background:url("../img/index/header/icon-heart-hov2.png") 0 50% no-repeat;
    color:#f85535;
}
.wrap_dota2-user-info .mycart:hover,.wrap_dota2-user-info .on{
    background:url("../img/index/header/icon-cart-hov.png") 0 50% no-repeat;
    color:#f85535;
}
/*隐藏的购物车片段*/
.wrap_dota2-top .mycart-list{
    display:none;
    width:350px;
    min-height:100px;
    top:91px;
    right:50%;
    margin-right:-630px;
    position:absolute;
    background:#282829;
    z-index:100;
}
.wrap_dota2-top .mycart-list .default{
    text-align:center;
    line-height:100px;
    color:#999;
}
/********1.2 底部导航部分*/
.wrap_dota2-top-nav{
    width:1260px;
    height:38px;
    margin:0 auto;
    line-height:38px;
    overflow: hidden;
}
/*nav中的a标签统一样式*/
.wrap_dota2-top-nav a{
    float:left;
    margin-right:40px;
    padding:0 10px;
    height:38px;
    text-align: center;
    color:#999;
    font-size:16px;
    position:relative;
}
/*左边导航*/
.wrap_dota2-top-nav a:hover,.wrap_dota2-top-nav a.on{
    color:#f85535;
}
.wrap_dota2-top-nav a:hover:after,.wrap_dota2-top-nav a.on:after{
    display:block;
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background-color: #f85535;
}
/*右边搜索框*/
.wrap_dota2-top-search{
    float:right;
    margin-left:30px;
}
.wrap_dota2-top-search input{
    float:left;
    width:156px;
    height:34px;
    line-height:34px;
    background-color:#191919;
    border:0;
    color:#666;
    text-indent:15px;
}
.wrap_dota2-top-search a{
    margin:0;
    width:38px;
    height:38px;
    background: #333 url("../img/index/header/icon-search.png") no-repeat center 8px;
    padding:0;
}
/************************2.右侧购物车浮动框*/
.wrap_dota2-float-nav{
    position:fixed;
    top:50%;
    right:10px;
    width:50px;
    margin-top:-170px;
    overflow: hidden;
    z-index:999;
}
/*浮动导航中a的样式：浮动变为块，宽50px*/
.wrap_dota2-float-nav a{
    float:left;
    width:50px;
}
/*float-nav-btn 高50px,背景颜色，背景重复，背景居中*/
.wrap_dota2-float-nav a.float-nav-btn{
    height:50px;
    background-color:#1f1f20;
    background-repeat:no-repeat;
    background-position: center;
} 
/*2.1背景图片*/
.wrap_dota2-float-nav a.float-nav-people{
    background-image:url("../img/index/header/icon-people.png");
}
.wrap_dota2-float-nav a.float-nav-people:hover{
    background-image:url("../img/index/header/icon-people-hov.png");
}
/*2.2背景图片*/
.wrap_dota2-float-nav a.float-nav-heart{
    background-image:url("../img/index/header/icon-heart.png");
}
.wrap_dota2-float-nav a.float-nav-heart:hover{
    background-image:url("../img/index/header/icon-heart-hov.png");
}
/*2.3购物车*/
.wrap_dota2-float-nav a.float-nav-shop-btn{
    padding:45px 0 20px;
    background:#f85535 url("../img/index/header/icon-shop.png") center 20px no-repeat;
    color:#fff;
    text-align:center;
    font-size:16px;
}
.wrap_dota2-float-nav a.float-nav-shop-btn:hover{
    background-color:#ff7357;
}
.wrap_dota2-float-nav a.float-nav-shop-btn span{
    margin:10px auto 0;
    display:block;
    font-size:14px;
    color:#f85535;
    background-color:#fff;
    width:25px;
    height:25px;
    border-radius:50%;
    text-align:center;
    line-height: 25px;
}
/*2.4客服*/
.wrap_dota2-float-nav a.float-nav-talk{
    background-image:url("../img/index/header/icon-talk.png");
}
.wrap_dota2-float-nav a.float-nav-talk:hover{
    background-image:url("../img/index/header/icon-talk-hov.png");
}

/**轮播图**/
.lunbo-banner{
    width:100%;
    height:640px;
    position: relative;
    overflow: hidden;
}
.lunbo-banner .lunbo-box{
    position: absolute;
    left:50%;
    top:0;
    width:1920px;
    margin-left:-960px;
    height:100%;
}
.lunbo-box li{
    position: absolute;
    top:0;
    left:0;
    display:none;
}
.lunbo-box li.show{
    display:block;
}
.lunbo-box li img{
    width:100%;
    height: 640px;
}
.lunbo-box .ind{
    position: absolute;
    bottom:50px;
    left:50%;
    margin-left:-70px;
}
.lunbo-box .ind>span{
    width:60px;
    height:3px;
    background-color:#eee;
    display: inline-block;
    margin-right:10px;
}
.lunbo-box .ind>span.on{
    background-color:red;
}
/**/
.new-goods{
    width:1260px;
    overflow:hidden;
    margin:20px auto;
}
.new-goods::before{
    content:"";
    display: table;
}
.new-goods li{
    width:400px;
    height:230px;
    float:left;
    margin-right:30px;
    overflow-x:hidden;
}
.new-goods li:nth-child(3){
    margin-right:0px;
}
.new-goods li img{
    width:100%;
}
.new-goods li:hover img{
    transform: scale(1.02);
}
/***************近期热销栏************/
.hot-products{
    width:1268px;
    margin:60px auto 0;
    overflow: hidden;
}
.title{
    text-align:center;
    font-size:24px;
    font-weight: bold;
    color:#f85535;
    height:60px;
    line-height:60px;
    background:url(../img/index/title-bg.jpg) center center no-repeat;
    position: relative;
    margin-bottom:30px;
}
.title::before{
    content:"";
    display:block;
    width:20px;
    height:100%;
    background-color:#f85535;
    position: absolute;
    top:0;left:0;
}
.hot-products .products{
    width:1268px;
    overflow: hidden;
}
.hot-products .products img{
    float:left;
    margin-left:10px;
    margin-top:10px;
}
/***************新品首售栏************/
.first-sale{
    margin: 60px 0px;
}
.first-sale .title-bg{
    width:100%;
    background-color:#f2f2f2;
}
.first-sale .title{
    width:1268px;
    color:#6f8cdf;
    margin:0 auto 30px;
}
.first-sale .title::before{
    background-color:#6f8cdf;
}
.first-sale li{
    margin:10px auto 0;
}
.first-sale img{
    width:100%;
}





/**************footer*********/
.footer{
    width:100%;
    background-color:#1f1f20;
    overflow: hidden;
}
/***三部分：第一部分*******/
.top-outer{
    width:100%;
    height:100px;
    border-bottom:1px solid #333;
    padding:20px 0;
}
.top-outer
.top-inner{
    width:1200px;
    margin:0 auto;
}
.top-inner ul li{
    float:left;
    width:400px;
    height:100px;
    line-height:100px;
    text-align: center;
    font-size:18px;
    color:#999;
}
.top-inner ul li img{
    margin-right:10px;
    vertical-align: middle;
}
/***三部分：第二部分********/
.middle-outer{
    width:1200px;
    margin:60px auto 100px;
    overflow:hidden;
    font-size:14px;
}
/*左侧列表*/
.middle-outer>ul{
    margin-left:132px;
    float:left;
    margin-top:3px;
}
.middle-outer>ul>li{
    float:left;
    margin-right:140px;
}
.middle-outer>ul>li h4{
    margin-bottom:30px;
    color:#999;
    font-weight: bold;
}
.middle-outer li li{
    height:2em;
    line-height:2em;
}
.middle-outer li li>a{
    color:#666;
}
.middle-outer li li>a:hover{
    text-decoration: underline;
}
/*右侧联系方式*/
.contact-info{
    float:right;
    text-align: center;
    margin-right:149px;
}
.contact-info h3{
    color:#999;
    font-size:26px;
    margin-bottom: 15px;
}
.contact-info p{
    margin-bottom:20px;
}
.content-info div{
    text-align:center;
}
.contact-info a{
    display: inline-block;
    color:#999;
    height:2em;
    line-height:2em;
    padding:0 10px;
    border-radius: 5px;   
}
.contact-info a.kf{
    background-color:#f85535;
    color:#fff;
}
.contact-info a:hover{
    text-decoration: underline;
}
/*三部分：第三部分*/
.bottom-outer{
    width:1200px;
    margin:25px auto 30px;
    text-align:center;
}
.bottom-outer p:first-child span{
    margin-left:5px;
    margin-right:5px;
    color:#ddd;
}
.bottom-outer a{
    color:#666;
}
.bottom-outer a:hover{
    color:#e90404;
}
.bottom-outer p:first-child+p{
    margin:20px 0;
    color:#999;
}
.bottom-outer p:last-child a{
    margin:0 3px;
}